.pg1{
    background-image: url(https://ik.imagekit.io/4z8covdo9/MERN-COURSE-ASSETS/TOURISM-PROJECT/sea-ocean);
    height:659px;
    width:322px;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
}
